/cmake-build-debug
/.idea
/.vcpkg
/.venv
/data
/python/ml/__pycache__
/python/analysis/__pycache__
/results/figures
/results/models
/results/tables
/results/logs
cadfs_engine.cpython-310-x86_64-linux-gnu.so
/python/scripts/__pycache__
/python/cadfs_py/__pycache__
/cmake-build-release
